option_settings:
  aws:elasticbeanstalk:application:environment:
    # Database Configuration
    DATABASE_URL: postgresql://scalemap:ScaleMap2025!@scalemap-postgres.c9cy8uecim5u.eu-west-1.rds.amazonaws.com:5432/scalemap

    # AWS Service Configuration
    AWS_REGION: eu-west-1

    # S3 Configuration
    S3_BUCKET_NAME: scalemap-storage

    # Cognito Configuration
    COGNITO_USER_POOL_ID: eu-west-1_iGWQ7N6sH
    COGNITO_CLIENT_ID: 6e7ct8tmbmhgvva2ngdn5hi6v1
    COGNITO_CLIENT_SECRET: 1ha1j74lsj0533ump6gj29ibl371mee814p5shfa0d1feu52ouj5

    # Application Configuration
    NODE_ENV: production
    PORT: 8080